<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".identity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".bussinessman_medcine_dispose"
            android:exported="false" />
        <activity
            android:name=".doctor_addFeedback"
            android:exported="false" />
        <activity
            android:name=".doctor_desease_information"
            android:exported="false" />
        <activity
            android:name=".desease_search_information"
            android:exported="false" />
        <activity
            android:name=".medcine_information"
            android:exported="false" />
        <activity
            android:name=".PurchaseActivity"
            android:exported="false" />
        <activity
            android:name=".doctor_information"
            android:exported="false" />
        <activity
            android:name=".bussinessman_medcine"
            android:exported="false" />
        <activity
            android:name=".businessman_home"
            android:exported="false" />
        <activity
            android:name=".oneToone"
            android:exported="false" />
        <activity
            android:name=".communicate"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".desease_information"
            android:exported="false" />
        <activity
            android:name=".doctor_feedback"
            android:exported="false" />
        <activity
            android:name=".doctor_chooseDesease"
            android:exported="false" />
        <activity
            android:name=".desease_chooseDoctor"
            android:exported="false" />
        <activity
            android:name=".doctor_home"
            android:exported="false" />
        <activity
            android:name=".payment"
            android:exported="false" />
        <activity
            android:name=".feedback"
            android:exported="false" />
        <activity
            android:name=".medcine"
            android:exported="false" />
        <activity
            android:name=".desease_home"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".register1"
            android:exported="false" />
        <activity
            android:name=".test"
            android:exported="false" />
        <activity
            android:name=".shimingrenzheng"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="com.example.myapplication.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>